html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Bigtitle, .wrapper{
    border: 1px solid black;   
    height: 5vh;
    text-align: center;
    position: sticky;
    top: 0; /* Bigtitle 상단 고정 */
    z-index: 2;
    background: white;
}

/* SearchBar 설정 변경 */
.SearchBar{
    border: 1px solid black;   
    height: 15vh;
    text-align: center;
    position: sticky;
    z-index: 2;
    background: white;
}

.MainArea{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.CardArea {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px; 
    padding-bottom: 5vh; /* Wrapper와의 간격을 주기 위해 */
}

.CardBtn {
    width: 100%;
    padding-top: 133.33%; 
    background-color: #924e4e;
    position: relative;
}

.CardContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aquamarine;
}

.wrapper{
    border: 1px solid black;
    height: 5vh;
    text-align: center;
    position: sticky;
    bottom: 0; /* 화면 하단에 고정 */
    z-index: 2;
    background: white;
}
